body{
    background-image: linear-gradient( rgb(255, 255, 255), rgb(28, 95, 210));
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.login-container{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    overflow: hidden;
    width: 800px;
}
.login-image{
    width: 50%;
}
.login-image img{
    width: 100%;
    height: 100%;
}
.login-form{
    padding: 40px;
    width: 50%;
}
form{
    text-align: center;
}
.login-form h2, p{
    text-align: center;
    margin: 0 0 20px;
    color: blue;
}
.login-form input[type="text"],
.login-form input[type="password"] {
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 10px;
   /* width: calc(100%-22px); */
   width: 280px;
    box-sizing: border-box;
}
.login-form .sign-in{
    background-color: #007BFF;
    border: none;
    border-radius: 20px;
    color: white;
    padding: 10px 20px;
    width: 130px;
    cursor: pointer;
}
.login-form .sign-up{
    background-color: white;
    border: 1px solid #007BFF;
    color: #007BFF;
    border-radius: 20px;
    padding: 10px 20px;
    width: 130px;
    cursor: pointer;
}
.login-form .forgot-password{
    display: block;
    margin: 10px 0;
    color: #007BFF;
    text-decoration: none;
}
.login-form .social-login .a{
    color: rgba(0, 0, 0, 0.53);
    
}
.login-form .social-login{
    text-align: center;
    margin-top: 20px;
}
.login-form .social-login img{
    width: 50px;
    margin: 0 10px;
    cursor: pointer;
}

@media(max-width: 768px){
    .login-container{
        flex-direction: column;
    }
    .login-image {
        width: 100%;
        display: none;
    } 
    .login-form {
        padding: 20px;
        width: 100%;
    }
    body {
        padding: 10px;
    }
}